@import "src/Style/Templates";

.fullWidth {
  @include fullScreenWidthCenter;

  #floatingCard {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    width: 80vw;


    // padding: 30%;

    .column {
      margin: auto;
      text-align: center;

      .logoImg {
        width: 200px;
      }
    }
  }
}