@import "src/Style/Templates";

h3 {
  font-weight: bold;
  @include for-size(phone-only) {
    font-size: 20px;
  }
}

h4 {
  @include for-size(phone-only) {
    font-size: 16px;
  }
}

p {
  @include for-size(phone-only) {
    font-size: 14px;
  }
}

.howToContent {
  padding: 50px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include for-size(phone-only) {
    height: 350px;
  }

  @include for-size(tablet-portrait-up) {
    height: 350px;
  }

  @include for-size(tablet-landscape-up) {
    height: 350px;
  }

  @include for-size(desktop-up) {
    height: 500px;
  }

  @include for-size(big-desktop-up) {
    height: 500px;
  }
}

.howToImage {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include for-size(phone-only) {
    height: 200px;
  }

  @include for-size(tablet-portrait-up) {
    height: 350px;
  }

  @include for-size(tablet-landscape-up) {
    height: 400px;
  }

  @include for-size(desktop-up) {
    height: 500px;
  }

  @include for-size(big-desktop-up) {
    height: 500px;
  }
}

.howToCard {
  margin: 10px 10px 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
