@import "src/Style/Templates";

#footer {
  margin: 50px;
  .footerColumn {
    margin: 10px 0px;
    #footerLogo {
      margin-top: -25px;
    }
    #socialIcon {
      @include for-size(phone-only) {
        padding-right: 30px;
      }

      @include for-size(tablet-portrait-up) {
        padding-right: 65px;
      }

      @include for-size(tablet-landscape-up) {
        padding-right: 0px;
      }

      @include for-size(desktop-up) {
        padding-right: 5px;
      }

      .icons {
        width: 25px;
        padding: 10px 0px;
      }
    }
    .title {
      color: #ffa800;
      font-weight: bold;
    }
    #footerSubscribe {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      #inputBox {
        width: 80%;
      }
      #buttonArrow {
        color: white;
      }
    }
  }
  #divisionLine {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(224, 224, 224);
    margin: 75px 0;
  }

  #disclaimer {
    margin-top: 50px;
    p {
      font-size: 12px;
    }

    @include for-size(phone-only) {
      #leftDisclaimer {
        text-align: left;
      }
      #rightDisclaimer {
        text-align: left;
      }
    }

    @include for-size(tablet-portrait-up) {
      #leftDisclaimer {
        text-align: left;
      }
      #rightDisclaimer {
        text-align: left;
      }
    }

    @include for-size(tablet-landscape-up) {
      #leftDisclaimer {
        text-align: left;
      }
      #rightDisclaimer {
        text-align: right;
      }
    }

    @include for-size(desktop-up) {
      #leftDisclaimer {
        text-align: left;
      }
      #rightDisclaimer {
        text-align: right;
      }
    }

    @include for-size(big-desktop-up) {
      #leftDisclaimer {
        text-align: left;
      }
      #rightDisclaimer {
        text-align: right;
      }
    }
  }
}
