@import "src/Style/Templates";
$projectTagHeaderHeight: 7vmin;


.projectSection {
    position: relative;
    width: 100vw;
    max-width: 100%;
    padding: 0 15%;

    @include for-size(phone-only) {
        top: -10vh;
    }

    @include for-size(tablet-portrait-up) {
        top: -10vh;
    }

    @include for-size(tablet-landscape-up) {
        top: -10vh;
    }

    @include for-size(desktop-up) {
        top: -10vh;
    }

    @include for-size(big-desktop-up) {
        top: -10vh;
    }


    // height: 100vh;

    .tagContainer {
        border-radius: 5px 5px 0 0;
        width: 100%;
        background-color: rgba(0, 78, 114, 0.8);
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include for-size(phone-only) {
            height: 10vh;
        }

        @include for-size(tablet-portrait-up) {
            height: 10vh;
        }

        @include for-size(tablet-landscape-up) {
            height: 10vh;
        }

        @include for-size(desktop-up) {
            height: 10vh;
        }

        @include for-size(big-desktop-up) {
            height: 10vh;
        }

        .hwDivider {
            height: 6vh;
            border: 2px solid rgba(241, 241, 241, 0.3);
            border-radius: 2px;
        }

        .singleTag {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .tagIcon {
                // width: calc($projectTagHeaderHeight * 20%);

                // height: 50%;
                @include for-size(phone-only) {
                    width: 4vh;
                }

                @include for-size(tablet-portrait-up) {
                    width: 5vh;
                }

                @include for-size(tablet-landscape-up) {
                    width: 5vh;
                }

                @include for-size(desktop-up) {
                    width: 5vh;
                }

                @include for-size(big-desktop-up) {
                    width: 5vh;
                }

            }

            .tagText {
                // font-size: 200%;
                font-weight: 600;
                padding-left: 10%;
                margin-bottom: 0;

                @include for-size(phone-only) {
                    font-size: 90%;
                }

                @include for-size(tablet-portrait-up) {
                    font-size: 90%;
                }

                @include for-size(tablet-landscape-up) {
                    font-size: 110%;
                }

                @include for-size(desktop-up) {
                    font-size: 130%;
                }

                @include for-size(big-desktop-up) {
                    font-size: 130%;
                }
            }

        }

    }

    .creatorProjectContainer {
        display: grid;
        grid-gap: 1.3vmin;
        // background-color: rgba(0, 78, 114, 0.8);
        background-color: rgba(241, 241, 241, 0.8);
        width: 100%;
        padding: 5% 10%;
        grid-auto-flow: dense;




        @include for-size(phone-only) {
            grid-template-columns: 100%;
            grid-auto-rows: auto;
        }

        @include for-size(tablet-portrait-up) {
            grid-template-columns: 100%;
            grid-auto-rows: auto;
        }

        @include for-size(tablet-landscape-up) {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
        }

        @include for-size(desktop-up) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, auto);
        }

        @include for-size(big-desktop-up) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, auto);
        }

        .gridBox {
            width: 100%;
            height: auto;
            position: relative;
            overflow: hidden;

            // .gridContent {
            //     // background-color: rgba(0, 0, 0, .9);
            //     background-color: rgba(0, 78, 114, 0.9);
         
            //     color: white;

            //     h3 {
            //         font-weight: 600;
            //         font-size: 1.4rem;
            //     }

            //     p {
            //         font-weight: 300;
            //         font-size: 1rem;
            //     }
            // }

            .boxImage {
                width: 100%;
                height: auto;
                @include boxShadow;
            }



            .cornerTag {

                position: absolute;
                bottom: 2vmin;
                left: 2vmin;
                padding: .5vmin 2vmin;
                background-color: rgba(255, 168, 0, .95);
                border-radius: .5vmin;
                // background-image: linear-gradient(120deg,
                //     rgba(255, 255, 255, 0) 0%,
                //     rgba(255, 255, 255, 0) 68.9%,
                //     $orange 69%,
                //     $orange 100%),
                //     linear-gradient(rgba(25, 118, 210, 0.8), rgba(25, 118, 210, 0.8));

                .tagText {
                    color: white;

                    @include for-size(phone-only) {
                        font-size: 80%;
                    }

                    @include for-size(tablet-portrait-up) {
                        font-size: 120%;
                    }

                    @include for-size(tablet-landscape-up) {
                        font-size: 100%;
                    }

                    @include for-size(desktop-up) {
                        font-size: 80%;
                    }

                    @include for-size(big-desktop-up) {
                        font-size: 120%;
                    }
                }
            }
        }

        #img2,
        #img3 {
            @include for-size(desktop-up) {
                grid-row: span 2;
                grid-column: span 2;
            }


        }





    }

}