.projectSection {
    position: relative;
    top: -8vh;
    width: 100vw;
    padding: 0 20%;


    // height: 100vh;

    .tagContainer {
        border-radius: 5px 5px 0 0;
        width: 100%;
        height: 8vh;
        background-color: rgba(0, 78, 114, 0.8);
        display: flex;

        .singleTag {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            .tagIcon {
                width: 10%;
                // height: 50%;
            }

            .tagText {
                font-size: 200%;
                font-weight: 600;
                padding-left: 5%;
            }

        }

    }

    .creatorProjectContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: rgba(241, 241, 241, 0.8);
        padding: 5% 10%;
        width: 100%;


    }

}