@import "src/Style/Templates";

.fullPage {
  width: 100vw;
  //   height: 100vh;
  background-image: linear-gradient(120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 68.9%,
    $orange 69%,
    $orange 100%),
    linear-gradient(rgba(25, 118, 210, 0.8), rgba(25, 118, 210, 0.8)),
    url("./Images/MK.181030.AEMP.WEBW.ConcertParty.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#hero {
  color: white;
  padding: 10px 10px 200px 64px;
}

h1 {
  margin: 5px;
  font-size: 48px;
}

.emailInput {
  width: 43%;
}

.subscribeSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#button {
  color: white;
}