.fullPage {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(25, 118, 210, 0.8), rgba(25, 118, 210, 0.8)), url("./Images/MK.181030.AEMP.WEBW.ConcertParty.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center bottom;
}