$orange: rgba(255, 168, 0, 1);
$blue: rgba(25, 118, 210, 1);


@mixin fullPage {
    width: 100vw;
    height: 100vh;
}

@mixin text-white {
    color: white;
}

@mixin text-orange {
    color: #FFA800;
}

@mixin text-blue {
    color: #1976D2;
}